@import "bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "poppins", "sans-serif";
}

.custom-yellow {
    background-color: #FAD725;
}

.custom-yellow-border {
    border: 5px solid #FAD725;
}

.text-color-grey {
    color: #727272;
}

.text-color-purple {
    color: #6F77F1;
}

.hero {
    .hero-text {
        h2 {
            font-size: 2.75rem;

            img {
                height: 4rem;
            }
        }

        p {
            padding-bottom: 2rem;
            padding-top: 2rem;
            font-size: 1rem;
        }

        .get-started-container {
            .get-started-btn {
                width: 12rem;
                text-align: center;
            }
        }
    }
}

.navbar-brand::after {
    content: "";
    display: inline-block;
    width: 0.3em;
    height: 0.3em;
    background-color: #BC424E;
    border-radius: 50%;
    /* makes it a circle */
    margin-left: 0.4em;
    /* space between text and dot */
    vertical-align: middle;
    /* aligns dot with text */
}

.team-member-outer-container {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 4px;
    top: 25rem;
    right: 20rem;
}

.team-member1 {
    // transform: translateX();
}

.team-member2 {
    transform: translateX(-1.2rem);
}

.team-member3 {
    transform: translateX(-2.2rem);
}

.team-member4 {
    transform: translateX(-3.2rem);
}

.add-team-member {
    transform: translateX(-4.5rem);
}

.function-container {
    .function-box {
        box-shadow: 0px 17px 33px -14px #02160512;
    }

    img {
        width: 5.5rem;
    }

    p {
        color: #727272;
    }
}

.optimize-outer-container {
    padding: 4rem 2rem 4rem 2rem;
    p {
        color: #727272;
    }

    .optimize-container {

        .optimize-box {
            img {
                width: 3rem;
                margin: 2rem;
            }
        }

        .optimize-box:hover {
            border-bottom: 4px solid #6F77F1;
            box-shadow: 0px 17px 33px -14px #02160512;
        }
    }
}


@media screen and (min-width: 768px) {
    .function-container {
        display: flex;
        gap: 2rem;
        justify-content: center;
        align-items: center;
    }

    .optimize-outer-container {
        .optimize-container {
            display: flex;
            gap: 2rem; 
        }
    }
}

@media screen and (min-width: 1400px) {
    .team-member-outer-container {
        position: absolute;
        right: 35rem;
        top: 25rem;
    }

    // text-data
    navbar {
        .container-fluid {
            .navbar-brand {}

            .collapse {
                ul {
                    li {
                        a {}
                    }

                }
            }
        }
    }
}