@import "bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "poppins", "sans-serif";
}

.custom-yellow {
    background-color: #FAD725;
    color: black;
}

.custom-yellow-border {
    border: 5px solid #FAD725;
}

.text-color-grey {
    color: #727272;
}

.text-color-purple {
    color: #6F77F1;
}

.hero {
    .hero-text {
        h2 {
            font-size: 2.75rem;

            img {
                height: 4rem;
            }
        }

        p {
            padding-bottom: 2rem;
            padding-top: 2rem;
            font-size: 1rem;
        }

        .get-started-container {
            .get-started-btn {
                width: 12rem;
                text-align: center;
            }
        }
    }
}

.navbar-brand::after {
    content: "";
    display: inline-block;
    width: 0.3em;
    height: 0.3em;
    background-color: #BC424E;
    border-radius: 50%;
    /* makes it a circle */
    margin-left: 0.4em;
    /* space between text and dot */
    vertical-align: middle;
    /* aligns dot with text */
}

.team-member-outer-container {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 4px;
    top: 25rem;
    right: 20rem;

    .team-member-container {
        transform: translateX(2rem);
    }
}

.team-member1 {
    // transform: translateX();
}

.team-member2 {
    transform: translateX(-1.2rem);
}

.team-member3 {
    transform: translateX(-2.2rem);
}

.team-member4 {
    transform: translateX(-3.2rem);
}

.add-team-member {
    transform: translateX(-4.5rem);
}

.function-container {
    padding-bottom: 6rem;

    .function-box {
        box-shadow: 0px 17px 33px -14px #02160512;
    }

    img {
        width: 4.5rem;
    }

    p {
        color: #727272;
    }
}

.optimize-outer-container {
    padding-bottom: 8rem;
    padding-top: 8rem;

    p {
        color: #727272;
    }

    .optimize-container {
        .optimize-box {
            padding-bottom: 6rem;

            img {
                width: 3rem;
                margin: 2rem;
            }
        }

        .optimize-box:hover {
            border-bottom: 4px solid #6F77F1;
            box-shadow: 0px 17px 33px -14px #02160512;
        }
    }
}

.business-solution {
    background-color: #F2F2F2;

    .business-solution-content {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .learn-more{
            width: fit-content;
        }
    }

    .business-solution-image {

    }
}

.qualities-container{
    padding: 5% 15% 5% 15%;
    // padding-left: 15%;
    // padding-right: 15%;
    .quality-box{
        img{
            margin: 2rem;
            margin-left: 0px;
        }
        a{
            text-decoration: none;
            color: #6F77F1;
        }
    }
}

.choose-us-container{   
    background-color: #fafafa;
    padding: 4rem;

    .choose-us-card-box{
        img{
            width: 15rem;
        }
        p{
            color: #727272;
        }
    }
}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 1024px) {
    .business-solution {
        padding: 4rem 10rem 4rem 10rem;
        padding-bottom: 10rem;

        .business-solution-image {}
    }
}

@media screen and (min-width: 1400px) {
    .team-member-outer-container {
        position: absolute;
        right: 35rem;
        top: 25rem;
    }

    // text-data
    navbar {
        .container-fluid {
            .navbar-brand {}

            .collapse {
                ul {
                    li {
                        a {}
                    }

                }
            }
        }
    }

    .function-container {
        .function-box {
            .function-box-heading {
                display: flex;
            }
        }
    }



}